@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

/* global.css */

@keyframes smoothGradient {
  0% {
    background: linear-gradient(45deg, #00c6ff, #0072ff); /* Starting gradient */
  }
  50% {
    
  }
  100% {
    background: linear-gradient(45deg, #0000ff, #00f2ff); /* Back to starting gradient */
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: -webkit-fill-available;
  height: 100dvh;
  /* animation: smoothGradient 10s ease infinite;  */
  background: linear-gradient(45deg, #0099ff3c, #00b5e230); /* Middle gradient */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.swipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  min-height: -webkit-fill-available;
  text-align: center;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.swipe-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.swipe-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.swipe-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.swipe-start-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.swipe-anonymous-button {
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #333;
}

.swipe-tap-message {
  font-size: 15px;
  color: #333;
}

.swipe-tap-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.swipe-instructions {
  color: #333;
  margin-bottom: 30px;
}

.swipe-results {
  text-align: left;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.swipe-submit-button {
  margin-top: 30px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.swipe-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  margin-top: 500px;
  gap: 50px;
}

.swipe-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.swipe-left-button {
  background-color: #ff4757;
  color: white;
}

.swipe-right-button {
  background-color: #2ed573;
  color: white;
}
