@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color1-start: #00c8ffa5;
  --color2-start: #0073ff9a;
  --color1-end: #0000ff95;
  --color2-end: #00f2ffa3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes smoothGradient {
  0% {
    --color1: var(--color1-start);
    --color2: var(--color2-start);
  }
  50% {
    --color1: var(--color1-end);
    --color2: var(--color2-end);
  }
  100% {
    --color1: var(--color1-start);
    --color2: var(--color2-start);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  /* Removed display:flex and alignment to allow full-width layout */
  min-height: -webkit-fill-available;
  height: 100dvh;
  background: linear-gradient(45deg, #00c8ffa5, #0073ff9a);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: -webkit-fill-available;
  text-align: center;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.swipe-title {
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.swipe-input-container {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
  margin-top: 20px;
}

.swipe-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.swipe-start-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.swipe-anonymous-button {
  margin-top: 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: #333;
}

.swipe-tap-message {
  font-size: 15px;
  color: #333;
}

.swipe-tap-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.swipe-instructions {
  color: #333;
}

.swipe-results {
  text-align: left;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 10px;
}

.swipe-submit-button {
  margin-top: 30px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #0070f3;
  color: #fff;
  border: none;
  cursor: pointer;
}

.swipe-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  margin-top: 500px;
}

.swipe-button {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.swipe-button:active {
  transform: scale(0.9);
}

.swipe-left-button {
  background-color: #ff4757;
  color: white;
}

.swipe-right-button {
  background-color: #2ed573;
  color: white;
}

@keyframes wavyGradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}
